body {
  font-family: 'Arial', sans-serif;
  background-color: #DEEFFF;
  margin: 0;
}

.container {
  max-width: 330px;
  margin: 50px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 30px;
}

h2 {
  text-align: center;
  color: #339AF0;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 12px 0 6px;
  color: #555;
}

input, select, textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

input[type="file"] {
  padding: 5px;
}

button {
  background-color: #35C1F1;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #50E6FF;
}

//　サインイン・ログイン切り替え
p {
  margin-top: 1em;
  font-size: 0.9em;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
